<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wo1261931780.stleetcode.practice.leetcode.a20230506.DAO.TbEditorDataMapper">
  <resultMap id="BaseResultMap" type="wo1261931780.stleetcode.practice.leetcode.a20230506.entity.TbEditorData">
    <!--@mbg.generated-->
    <!--@Table interview.tb_editor_data-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="html" jdbcType="LONGVARCHAR" property="html" />
    <result column="raw" jdbcType="LONGVARCHAR" property="raw" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, html, `raw`
  </sql>
</mapper>