<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wo1261931780.stleetcode.practice.leetcode.a20230506.DAO.TbUserLikedCommentMapper">
  <resultMap id="BaseResultMap" type="wo1261931780.stleetcode.practice.leetcode.a20230506.entity.TbUserLikedComment">
    <!--@mbg.generated-->
    <!--@Table interview.tb_user_liked_comment-->
    <id column="username" jdbcType="VARCHAR" property="username" />
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    username, comment_id
  </sql>
</mapper>